* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  width: 100%;
  /* Establecemos un ancho máximo, gustos personales */
  /* max-width: 1200px;  */
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Colocar footer al final de la página */
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

#nombreEmpresa a {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  padding: 0 0 0 1rem;
}

#infoEmpresa {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
  padding: 0 1rem 0 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;
  background-color: #00aeef;
}

li {
  list-style: none;
}

#nombreEmpresa {
  margin: auto 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
}

#noticiaImg {
  position: relative;
}

#tituloImg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  width: 100%;
  max-width: 1000px;
}

#noticiaImg img {
  width: 100%;
  max-width: 1000px;
}

.footer {
  text-align: center;
  border-top: 1px solid #000;
  padding: 1rem;
  margin-top: 15px;
}

a {
  cursor: pointer;
}